[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
seaborn = "*"
xlrd = "*"
python-magic = "*"

[requires]
python_version = "3.7"

[build-system]
requires = ["setuptools", "wheel"]

[pipenv]
allow_prereleases = true
